/* HELPERS */
html {
    scroll-behavior: smooth;
}
p {
    font-size: 16px;
    font-weight: 500;
}
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif;
}
.tac {
    text-align: center !important;
}
.tal {
    text-align: left !important;
}
.tar {
    text-align: right !important;
}
.btn {
    background-color: var(--color) !important;
    border-color: transparent !important;
    color: #fff !important;
    height: unset !important;
    line-height: unset !important;
    font-size: 16px !important;
    padding: 14px 18px !important;
    transition: .5s;
}
.btn:hover {
    background-color: #fff !important;
    border-color: var(--color) !important;
    color: var(--color) !important;
    transition: .5s;
}
.btn-rounded {
    border-radius: 20px !important;
}
.btn-square {
    border-radius: 0 !important;
}
.align-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
@media (min-width: 991px) {
    .hideondesktop-lg {
        display: none;
    }
}
@media (max-width: 991px) {
    .hideonmobile-lg {
        display: none;
    }
}
@media (min-width: 768px) {
    .hideondesktop-md {
        display: none;
    }
}
@media (max-width: 768px) {
    .hideonmobile-md {
        display: none;
    }
}
/* FIN HELPERS */


/* HEADER */
#header.dark #header-wrap,
#header.dark .header-inner,
.dark #header #header-wrap,
.dark #header .header-inner {
    background-color: #fff;
    transition: 0.5s;
}
#header.dark.submenu-light .logo-main,
#header.dark.submenu-light #mainMenu,
#header.dark.submenu-light #mainMenu-trigger {
    display: none;
}
#header.dark.submenu-light {
    z-index: -1 !important;
}
#header.submenu-light.header-sticky.sticky-active .logo-main {
    height: 70px !important;
    margin-top: 5px;
    display: block !important;
}
.mainMenu-open #header #mainMenu {
    overflow: hidden !important;
}
/* FIN HEADER */


/* FOOTER */
#footer {
    padding: 40px 0;
    background-color: #fff;
}
#footer .share-title {
    color: #009FE3;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #009FE3;
}
#footer .share-icons a {
    color: #009FE3 !important;
    font-size: 30px;
    padding: 10px;
}
#footer .gm-footer-logo {
    max-width: 250px;
}
#footer .text {
    color: #009FE3;
}
@media (min-width: 768px) {
    #footer .centered {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}
@media (max-width: 768px) {
    #footer .share {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
/* FIN FOOTER */



/* SLIDER */
#slider {
    height: 100vh !important;
    min-height: 850px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
#slider .logo-gm-slider {
    max-height: 50px;
}
#slider .logo-sep,
#slider .introduce {
    color: #000;
    font-weight: 500;
}
#slider .wrap-deck.t-side {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}
#slider .flickity-page-dots {
    display: none;
}
#slider.inspiro-slider .flickity-button:hover {
    background-color: lightgray;
}
@media (max-width: 991px) {
    #slider.imgBackground {
        background-image: url(/img/slider-bg-mob.jpg);
    }
    #slider .wrap-deck.l-side {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 1;
    }
}
@media (min-width: 991px) {
    #slider .wrap-deck.l-side {
        position: absolute;
        top: 28%;
        z-index: 1;
    }
    #slider.imgBackground {
        background-image: url(/img/slider-bg.jpg);
    }
}
/* END SLIDER */


/* MANIFESTO */
#manifesto {
    background-color: #009FE3;
}
#manifesto p {
    color: #fff;
}
/* END MANIFESTO */


/* NAV FILTERS */
nav a.nav-filters {
    font-size: 16px !important;
    padding: 14px 18px !important;
    color: var(--color) !important;
    border: 1px solid var(--color) !important;
    border-radius: 0 !important;
    transition: .5s !important;
}
nav .nav-filters:hover,
nav .active .nav-filters {
    color: #fff !important;
    background-color: var(--color) !important;
    transition: .5s !important;
}
@media (max-width: 1024px) {
    .grid-filter li {
        width: 35%;
    }
}
@media (max-width: 500px) {
    .grid-filter li {
        width: 80%;
    }
}
/* END NAV FILTERS */


/* CAROUSEL MODEL 1 */
#carousel.model1 .card-carousel {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
#carousel.model1 .card-avis {
    padding: 20px;
    border-radius: 5px;
}
#carousel.model1 .grid-item .flickity-viewport:after,
#carousel.model1 .grid-item .grid-image:after,
#carousel.model1 .grid-item .grid-video:after,
#carousel.model1 .grid-item .portfolio-image:after,
#carousel.model1 .grid-item .portfolio-video:after,
#carousel.model1 .portfolio-item .flickity-viewport:after,
#carousel.model1 .portfolio-item .grid-image:after,
#carousel.model1 .portfolio-item .grid-video:after,
#carousel.model1 .portfolio-item .portfolio-image:after,
#carousel.model1 .portfolio-item .portfolio-video:after {
    content: unset !important;
}
#carousel.model1 .grid-item,
#carousel.model1 .portfolio-item {
    cursor: default;
}
@media (min-width: 991px) {
    #carousel.model1 .card-carousel {
        min-height: 700px;
        padding-left: 0;
    }
    #carousel.model1 .align {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (max-width: 991px) {
    #carousel.model1 .flickity-button {
        top: 30%;
    }
    .carousel .flickity-button.next {
        right: 0 !important;
    }
    #carousel.model1 .carousel .flickity-button.previous {
        left: 0 !important;
    }
    #carousel.model1 .carousel {
        padding: 20px;
    }
    #carousel.model1.card-carousel .container,
    #carousel.model1 .card-carousel .col-lg-6 {
        padding: 0;
    }
    #carousel.model1 .card-carousel .row {
        margin: 0;
    }
}
/* END CAROUSEL MODEL 1 */


/* CAROUSEL MODEL 2 */
#carousel.model2 {
    background-color: #ECA318;
}
#carousel.model2 .flickity-button svg {
    display: block !important;
    width: 20px !important;
    margin-left: 10px !important;
    transition: .5s;
}
#carousel.model2 .flickity-button.next:before,
#carousel.model2 .flickity-button.previous:before {
    display: none;
}
#carousel.model2 .carousel .flickity-button:hover {
    background-color: #e41124;
    transition: .5s;
}
#carousel.model2 .carousel .flickity-button:hover .flickity-button svg {
    color: #fff;
    transition: .5s;
}
#carousel.model2 .team-member {
    border-radius: 10px!important;
    padding: 20px 0!important;
    min-height: 670px!important;
}
#carousel.model2 .team-desc p {
    font-size: 20px!important;
    line-height: 25px;
    color: #000!important;
    font-weight: 500;
}
/* END CAROUSEL MODEL 2 */


/* SHARE */
#share {
    background-color: #F4E9C6;
}
#share .share-popup i {
    font-size: 35px;
    color: #ECA318;
}
#share .border-right {
    border-right: 2px solid #ECA318!important;
}
#share .gif {
    max-width: 666px;
    width: 100%;
}
/* END SHARE */


/* PORTFOLIO */
#portfolio.model1 {
    background-color: #fcf9f4;
}
#portfolio.model1 .square {
    background-color: var(--color) !important;
    padding: 30px;
    width: 50%;
    position: absolute;
    bottom: -115px;
    right: 22%;
    z-index: 99;
}
#portfolio.model1 .text-border {
    color: transparent !important;
    font-size: 42px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--color);
}
#portfolio.model1 .shadow {
    -webkit-box-shadow: -15px -15px 0px 0px var(--color);
    -moz-box-shadow: -15px -15px 0px 0px var(--color);
    box-shadow: -15px -15px 0px 0px var(--color);
    z-index: 5;
}
#porfolio.model1 .m-img {
    margin-bottom: -16.5px;
    position: relative;
    z-index: 6;
}
@media (max-width:981px) {
    #portfolio.model1 .square {
        width: 70%;
        position: initial;
        margin-left: auto;
        margin-right: auto;
    }
}
/* FIN PORTFOLIO */


/* ARTICLES */
#article #blog .post-navigation {
    border-bottom: 1px solid #eee;
    padding-bottom: 75px;
    background: #eeeeee40;
}
#article #blog .post-navigation .gotohome {
    display: block;
    color: #565656;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
#article #blog .post-navigation .post-all {
    top: 23px;
    width: 46px;
    right: 48%;
}
#article .post-image img {
    max-height: 70vh;
}
#article .post-item-description .post-meta-description {
    color: #383838;
    font-size: 2.5vmin;
}
#article .post-item-description .social-icons.social-icons-colored .social-whatsapp a{
    background-color: #25d366;
}

#article-content {
    padding: 0;
}
#article-content p {
    font-size: 20px;
}
#article-content h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* END ARTICLES */


/* VIDEO */
#video {
    background-color: #f6f2ef;
}
/* END VIDEO */

/* MODAL */
.mfp-close-btn-in #page-content button.mfp-close {
    position: fixed;
    right: 30px;
    color: black;
    font-size: 40px;
    opacity: 1;
    border: 1px solid black;
    background: white;
    z-index: 9999;
}
.mfp-bg {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
/* FIN MODAL */


/* PAGE CONTENT */

/* FIN PAGE CONTENT */